name: Build

on: [push]

jobs:
  build_wheels:
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        # macos-15-intel is an Intel runner, macos-14 is Apple silicon
        os: 
        - ubuntu-latest
        # - ubuntu-24.04-arm
        # - macos-15-intel
        # - macos-15

    steps:
      - uses: actions/checkout@v5

      - uses: actions/checkout@v5
        with:
          repository: benjaminhuth/acts
          ref: refactor/examples-framework-no-root
          path: acts

      #- name: Install dependencies
      #  uses: ./.github/actions/dependencies
      #  with:
      #    compiler: g++
      #    GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      #- name: Remote terminal
      #  run: curl -sSf https://sshx.io/get | sh -s run

      - name: Build wheels
        uses: pypa/cibuildwheel@v3.3.1
        with:
          package-dir: acts
        env:
          CIBW_MANYLINUX_X86_64_IMAGE: manylinux_2_34 # based on almalinux9
          CIBW_BUILD: cp312-manylinux_x86_64 # Test only python3.12 for now
          CIBW_BEFORE_ALL: dnf install -y bc && bash CI/dependencies/setup.sh -t v19.0.0 -d deps -e env.sh
          CIBW_BEFORE_BUILD: curl -sSf https://sshx.io/get | sh -s run
          CIBW_ENVIRONMENT_PASS_LINUX: CI

      - uses: actions/upload-artifact@v4
        with:
          name: cibw-wheels-${{ matrix.os }}-${{ strategy.job-index }}
          path: ./wheelhouse/*.whl
