name: Build

on: [push]

jobs:
  build_wheels:
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        # macos-15-intel is an Intel runner, macos-14 is Apple silicon
        os: 
        - ubuntu-latest
        # - ubuntu-24.04-arm
        # - macos-15-intel
        - macos-latest

    steps:
      - uses: actions/checkout@v5
        with:
          repository: benjaminhuth/acts
          ref: test/cibuildwheel
          path: acts

      #- name: Remote terminal
      #  run: curl -sSf https://sshx.io/get | sh -s run

      - name: Build wheels
        uses: pypa/cibuildwheel@v3.3.1
        with:
          package-dir: acts
        env:
          CIBW_MANYLINUX_X86_64_IMAGE: manylinux_2_34 # based on almalinux9
          CIBW_BUILD: cp312-* cp313-*
          CIBW_BEFORE_ALL_LINUX: dnf install -y bc ccache && bash {package}/CI/dependencies/setup.sh -t v19.0.0 -d deps -e env.sh
          CIBW_BEFORE_ALL_MACOS: brew install ninja ccache && bash {package}/CI/dependencies/setup.sh -t v19.0.0 -d deps -e env.sh
          CIBW_ENVIRONMENT_PASS: CI
          CIBW_BEFORE_BUILD: ccache -s && ccache -z
          CIBW_ENVIRONMENT: CMAKE_PREFIX_PATH=/project/deps/venv:/project/deps/view CCACHE_DIR=/project/ccache

      - uses: actions/upload-artifact@v4
        with:
          name: cibw-wheels-${{ matrix.os }}-${{ strategy.job-index }}
          path: ./wheelhouse/*.whl
